/* Estilos para aplicaciones auxiliares de validación
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
        html
{
     background-color: #12191A;
    }    
    
display-label,display-field
{
    color:White;
    
}    
    
        
.boton, a:link, a:visited  { 
background-color: transparent;
    color: #00c69f;
    border: 2px solid #00c69f;
    border-radius: 7px;
}
 
.boton:hover,a:hover, a:focus  {
  background-color: #00c69f;
    color: white;
    text-decoration: none;
}
#main-container{
	margin: 150px auto;
	width: 600px;
}
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	padding: 20px;
}
thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even){
	background-color: #ddd;
}
tr:hover td{
	background-color: #369681;
	color: white;
}   
    